
// WINE COLOR PALETTE:
$red-wine:#990033;
$fb-red:#330011;
$white-wine:#EDE9D8;
$rose:#fa849f;

// FILTERS:
$white-svg:invert(95%) sepia(10%) saturate(274%) hue-rotate(9deg) brightness(98%) contrast(92%);

// FONTS-STYLE:
$primary-font:'Ubuntu', sans-serif;

// FONTS-SIZING:
$h2-font-size:'';
$nav-font-size:'';
$p-font-size:'';